<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Right To Inspect</title>
    <link rel="stylesheet" href="/challs/the-right-to-inspect/css/styles.css">
    <script src="https://unpkg.com/powerglitch@latest/dist/powerglitch.min.js"></script>
</head>
<body>
<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <img id="inspector-img" class="glitch" src="/challs/the-right-to-inspect/images/inspector.png" alt="Inspector">
                            <!--Hint: Looking for the flag? Why don't you check this script? -->
                            <script src="/challs/the-right-to-inspect/js/script.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
