body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #FF0000, #FFEB3B);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #FFEB3B;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.login-container input[type="text"], .login-container input[type="password"] {
    background-color: rgba(255, 255, 255, 0.8);
}

.login-container button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #C8102E;
}
