<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAG.</title>
    <link rel="stylesheet" href="/challs/this-feature-is-off/css/styles.css">
</head>
<body>
<h1>{{ flag }}</h1>
<a href="/challs/this-feature-is-off">Go back home</a>
</body>
</html>
