<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This feature is off, come back later.</title>
    <link rel="stylesheet" href="/challs/this-feature-is-off/css/styles.css">
</head>
<body>
<h1>This feature is off, come back later.</h1>
<form action="/app/this-feature-is-off/get-flag" method="POST">
    <label for="number">Enter a number larger than 2025 to get the flag:</label>
    <input type="number" id="number" name="number" required max="2025" disabled>
    <input type="submit" value="Submit" disabled>
</form>
<div class="footer">&copy; 2025. No rights reserved.</div>
</body>
</html>
