<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag</title>
    <link rel="stylesheet" href="/challs/bad-authentication/css/styles.css">
</head>
<body>
<h1>HOWTOHACK{cli3nt_5id3_4uth_is_b4d}</h1>
</body>
</html>
